includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        - '#is never assigned int so it can be removed from the property type#'