{% extends 'base.html.twig' %}

{% block title %}New Conf{% endblock %}

{% block body %}
    <h1>Create new Conf</h1>

    {{ include('conf/_form.html.twig') }}

    <a href="{{ path('app_conf_index') }}">back to list</a>
{% endblock %}
