{% extends 'base.html.twig' %}

{% block title %}Edit Materielconf{% endblock %}

{% block main %}
    <h1>Edit Materielconf</h1>

    {{ include('materielconf/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_materielconf_index') }}">back to list</a>

    {{ include('materielconf/_delete_form.html.twig') }}
{% endblock %}
